
@{
    Layout = "~/Areas/Leerling/Views/Shared/_LayoutLOB.cshtml";
    ViewBag.Title = "LOB";

}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Loopbaanoriëntatie en begeleiding</title>
</head>
<body>
    <h1>Welkom</h1>
</body>
</html>
